@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.group-field {
  @apply mb-5 py-2 space-y-4 sm:space-y-2;
}

.option-card {
  @apply flex flex-col items-center w-[70px];
}

.option-card .option-card__image  {
  @apply w-full h-[70px] rounded-lg p-5 flex items-center justify-center;
  @apply bg-neutral-100 hover:bg-neutral-400 dark:bg-[#182032];
  @apply transition-all duration-100 ease-in-out;
}

.option-card .option-card__image :is(img, svg) {
  @apply w-full h-full;
  @apply transition-all duration-100 ease-in-out;
}

.option-card .option-card__label {
  @apply mt-2 text-center text-[13px] leading-[13.5px] font-[500];
  @apply text-neutral-900 dark:text-white;
  @apply transition-all duration-100 ease-in-out;
}

.selected-option .option-card__image {
  @apply bg-neutral-700 text-white dark:bg-[#30467c];
}

.frame {
  border: 1px dashed #000;
}

.button-repo {
  @apply space-x-3;
}

.button-repo img {
  margin: 0px;
}

.generic-icon {
  @apply size-[25px];
}

.generic-icon svg {
  @apply w-full h-full;
}

.button-language {
  @apply inline-flex w-auto px-4 py-2 space-x-2;
  @apply cursor-pointer bg-neutral-100/70 hover:bg-neutral-200/70 dark:bg-[#182032];
  @apply rounded-md;
  @apply transition-all duration-200 ease-in-out;
}

.button-language .button-language__label {
  @apply text-sm font-[600];
}

.selected-language {
  @apply bg-neutral-800 text-white dark:bg-[#30467c];
}